<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-card>
      <ion-card-title>Create Student</ion-card-title>
      <ion-card-content>
        <ion-input type="text" [(ngModel)]="studentName" placeholder="Nombre"> </ion-input>
        <ion-input type="text" [(ngModel)]="studentAge" placeholder="Edad"> </ion-input>
        <ion-input type="text" [(ngModel)]="studentAddress" placeholder="Dirección"> </ion-input>
        <ion-button (click)="createRecord()" expand="full" color="success">Guardar</ion-button>
      </ion-card-content>

    </ion-card>

    <ion-card *ngFor="let item of students">
      <ion-card-title>Student</ion-card-title>
      <ion-card-content>
        <ion-card-subtitle>
          {{ item.Name }}
        </ion-card-subtitle>
        <ion-card-content>
          {{ item.Age }}<br/>
          {{ item.Address }}
        </ion-card-content>
      </ion-card-content>
      <ion-button (click)="removeRecord(item.id)">Eliminar</ion-button>
    </ion-card>
    
</ion-content>
